*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* ----------------- GLOBAL CLASSES ----------------- */
.container-css {
    max-width: 1400px;
    margin: auto;
    padding: 0 25px;
}

.sm-container {
    max-width: 90%;
    margin: auto;
    padding: 0 25px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title-new {
    text-align: center;
    line-height: 60px;
    margin: 0 auto 70px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.primary-background {
   background: #2f394d !important;
}

.borderless {
   border: 0 !important;
}

.shadow-box {
   box-shadow:
        1.9px 1.4px 2.2px rgba(0, 0, 0, 0.071),
        5.1px 3.9px 6px rgba(0, 0, 0, 0.114),
        12.4px 9.3px 14.5px rgba(0, 0, 0, 0.162),
        41px 31px 48px rgba(0, 0, 0, 0.26);
}

.card-shadow {
    box-shadow: 
        21px 21px 42px #bcc6c1,
        -21px -21px 42px #ffffff;
}

.soft-shadow {
    box-shadow:
        0.2px 0.6px 1.4px rgba(0, 0, 0, 0.017),
        0.5px 1.8px 3.8px rgba(0, 0, 0, 0.025),
        1.2px 4.2px 9px rgba(0, 0, 0, 0.033),
        4px 14px 30px rgba(0, 0, 0, 0.05);
}

.image-fit {
    width: 300px;
    height: 500px;
    object-fit: scale-down;
}

.offwhite {
    color: #2f394d !important;
    background: #fff !important;
    transition: background 0.5s;
}

.offwhite:hover {
    background: #2f394d !important; 
    color: #fff !important;
    border: 1px solid #fff !important;
}

.shadow-text {
    text-shadow: 5px 4px 5px rgba(0,0,0,0.76);
}
/* ----------------- END OF GLOBAL CLASSES ----------------- */


/* ----------------- NAVBAR SECTION ----------------- */
.navbar-css{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    z-index: 1;
    background: rgba(0,0,0,0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0,0,0,0.05);
    margin-bottom: 30px;
}

.navbar-authenticated {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    z-index: 1;
    margin-bottom: 30px;
    background: #2f394d;
}

nav{
    flex: 1;
    text-align: right;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin-bottom: 0;
    transition: visibility 10s;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin: 0 15px;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #00c6bc;
}

nav ul li a.active {
    color: #00c6bc;
}

.bikemeds-logo-authenticated {
    width: 125px;
    margin: 0 20px;
}

.bikemeds-logo {
    width: 125px;
    margin: 0;
}

.menu-icon {
    width: 28px;
    margin-left: 1em;
    display: none;
}

.visible-ul {
    visibility: visible;
}

.logout-icon {
    font-size: 18px !important;
    font-weight: 400 !important;
    cursor: pointer;
 }

 .logout-button {
    width: 40px;
    display: none;
    visibility: hidden;
}

.logout-icon:hover {
    color: #00c6bc;
}
/* ----------------- END OF NAVBAR SECTION ----------------- */


/* ----------------- LANDING PAGE TEXT SECTION ----------------- */
.content {
    padding: 10px 80px;
    width: 100%;
    display: flex;
    height: 80vh;
}

.content .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.content .title {
    font-size: 4em;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    letter-spacing: 4px;
    line-height: 60px;
}

.content .sub-title {
    font-size: 1.90em;    
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
}

.content .description {
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 5px;
    width: 60%;
}

.content .shop-now {
    font-size: 13px;
    font-weight: 500;
    color: black;
    padding: 10px;
    background: #fff;
    text-align: center;
    width: 10rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 30px;
    transition: background 0.5s;
    border: 0.5px solid black;
}

.content .shop-now:hover {
    background: #2f394d;
    color: #fff;
    border: 1px solid #2f394d;
}
/* ----------------- END OF LANDING PAGE TEXT SECTION ----------------- */


/* ----------------- LANDING PAGE VIDEO SECTION ----------------- */
.video-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    z-index: -1;
    opacity: 0.9;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    mix-blend-mode: overlay;
    z-index: -1;
}
/* ----------------- END OF LANDING PAGE VIDEO SECTION ----------------- */


/* ----------------- FEATURED PRODUCTS SECTION ----------------- */
.col-2{
    flex-basis: 45%;
    min-width: 350px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h4{
    font-weight: normal;
    color: black;
}

.col-2 p{
    font-size: 14px;
    margin-bottom: 0;
}

.col-2 h1{
    font-size: 40px;
    line-height: 50px;
    margin: 25px 0;
}

.col-2 .offer-img{
    max-width: 100%;
    padding: 0;
}

.card-layout {
    box-shadow: 
        21px 21px 42px #bcc6c1,
        -21px -21px 42px #ffffff;
    transition: transform 0.5s;
}

.card-layout:hover {
    transform: scale(1.1);
}

.sm-container .col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.sm-container .col-4:hover{
    transform: scale(1.1);
}

.sm-container .col-4 img{
    max-width: 100%;
}

.sm-container .col-4 h4{
    font-weight: normal;
    color: black;
}

.sm-container .col-4 p{
    font-size: 14px;
}

.more-details {
   background: #fff !important;
   color: black !important;
   border: 1px black solid !important;
   border-radius: 30px !important;
   transition: background 0.5s !important;
   padding: 10px 20px !important;
   text-transform: uppercase;
   font-size: 14px !important;
   font-weight: 500 !important;
   letter-spacing: 0.5px;
}

.more-details:hover {
   background: #2f394d !important;
   color: #fff !important;
}
/* ----------------- END OF FEATURED PRODUCTS SECTION ----------------- */


/* ----------------- EXCLUSIVE PRODUCT SECTION ----------------- */
.offer{
    background: #ffffff;
    background: -webkit-radial-gradient(circle, #ffffff 0%, #2f394d 100%);
    background: radial-gradient(circle, #ffffff 0%, #2f394d 100%);
    margin: 80px 0;
    padding: 90px 30px;
}

.offer .btn{
    border-radius: 30px;
    border: 1px solid black;
    font-weight: 500;
    font-size: 13px;
    padding: 10px 20px;
    color: black;
    background: #fff;
    margin: 20px 0;
    transition: background 0.5s;
    text-transform: uppercase;
}

.offer .btn:hover{
    background: #2f394d;
    color: #fff;
    border: 1px solid #2f394d;
}
/* ----------------- END OF EXCLUSIVE PRODUCT SECTION ----------------- */


/* ----------------- FEATURED BRANDS SECTION ----------------- */
.brands {
    margin: 6.5rem auto;
}

.brands .col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}
/* --------------- END OF FEATURED BRANDS SECTION ------------- */


/* ----------------- FOOTER SECTION ----------------- */
.footer {
    background-color: #2f394d;
    color: #fff;
    font-size: 14px;
    padding: 30px 20px;
}

.footer .container .row {
   padding-left: 30px;
}

.footer .container .row p {
    color: #fff;
}

.footer h3 {
    font-size: 20px;
    margin-bottom: 1em;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 1em;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 1em;
}

.footer-col-2 p {
   text-align: left;
}

.footer-col-3, .footer-col-4 {
    flex: 12%;
    text-align: center;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    margin-left: -30px;
}

.app-logo {
    margin-top: 1rem;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #fff;
    height: 1px;
    margin: 1rem 0;
}

.copyright {
    text-align: center;
    margin-bottom: 0;
    font-size: 13px;
}

.useful-links {
    display: block;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    line-height: 2;
}

.useful-links:hover {
    color: #00c6bc;
}
/* -------------- END OF FOOTER SECTION ------------- */


/* -------------- SIDEBAR SECTION ------------- */
.sidebar ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 50px 0;
}

.sidebar-link {
    padding: 20px 20px;
    display: inline-block;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
}

.sidebar-link:hover {
    background-color: #39455d;
    color: #00c6bc;
}

.sidebar-link.active {
    background-color: #39455d;
    color: #00c6bc;
}

.sidebar-icons {
   font-size: 30px;
   padding-left: 30px;
}

.sidebar-link > span {
   vertical-align: super;
   margin-left: 20px;
}

.sidebar-menu {
   font-size: 18px !important;
   transition: transform 0.5s;
   font-weight: 400 !important;
   cursor: pointer;
}

.sidebar-menu:hover {
   color: #00c6bc !important;
   transform: scale(1.5);
}
/* -------------- END OF SIDEBAR SECTION ------------- */


/* -------------- PRODUCT CARD SECTION ------------- */
.product-card-layout {
    width: 26rem;
    max-height: 600px;
    min-height: 600px;
    box-shadow:
        0px 0.9px 3.8px rgba(0, 0, 0, 0.031),
        0px 0.3px 1.4px rgba(0, 0, 0, 0.022),
        0px 2.1px 9px rgba(0, 0, 0, 0.045),
        0px 7px 30px rgba(0, 0, 0, 0.09);
    transition: transform 0.5s;
}

.product-card-layout:hover {
    transform: translateY(-2%);
}

.details-btn {
    position: absolute;
    bottom: 0;
    width: 95%;
    letter-spacing: 1px;
    margin: 15px;
    text-transform: uppercase;
    font-weight: 500 !important;
}

.admin-btn {
    position: absolute;
    bottom: 0;
    letter-spacing: 1px;
    margin: 15px;
}

.product-description {
    font-size: 14px;
    letter-spacing: 1px;
}
/* -------------- END OF PRODUCT CARD SECTION ------------- */


/* -------------- PRODUCT VIEW SECTION ------------- */
.product-view-image {
    max-width: 500px;
}

.product-view-offcanvas {
    max-width: 300px;
}

.product-view-cart {
    max-width: 200px;
}
/* -------------- END OF PRODUCT VIEW SECTION ------------- */


/* -------------- CHECKOUT SECTION ------------- */
.edit-quantity {
    display: none;
}
/* -------------- END OF CHECKOUT SECTION ------------- */


/* -------------- PRODUCT PAGE SECTION ------------- */
.intro-picture {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.intro-text {
    position: absolute;
    top: 0;
    transform: translateY(20%);
    animation-name: zoomInDown;
    animation-duration: 1s;
}
/* -------------- PRODUCT PAGE SECTION ------------- */


/* -------------- CONTINUE SHOPPING BUTTON ----------------- */
.cta {
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 1.5px;
    font-size: 14px;
    color: #fff;
    padding-right: 9px;
    font-family: 'Poppins', sans-serif;
    vertical-align: super;
}

.cta i {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover i {
    transform: translateX(0);
}

.cta:active i {
    transform: scale(0.9);
}

.continue-arrow {
    font-size: 25px;
}

.hover-underline-animation {
    position: relative;
    color: #fff;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* ------------- END OF CONTINUE SHOPPING BUTTON ------------- */


/* ------------- USER CARD SECTION ------------- */
.user-card {
    width: 30rem;
    max-height: 330px;
    min-height: 330px;
}
/* ----------- END OF USER CARD SECTION ---------- */


/* -------------- LOGIN PAGE SECTION ------------- */
.content-login {
    padding: 10px 80px;
    width: 66%;
    display: flex;
    height: 70vh;
}

.content-login .hero {
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.content-login .title {
    font-size: 4em;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    letter-spacing: 4px;
    line-height: 60px;
}

.content-login .sub-title {
    font-size: 1.90em;    
    font-weight: 500;
    color: #fff;
    width: 80%;
    letter-spacing: 3px;
}

.content-login .description {
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 5px;
    width: 60%;
}
/* -------------- END OF LOGIN PAGE SECTION ------------- */


/* -------------- ANIMATION SECTION ------------- */
.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* -------------- END OF ANIMATION SECTION ------------- */


/* -------------- PAGINATION SECTION ------------- */
.pagination-btn {
    width: 30px;
    border: 2px solid #2f394d;
    padding: 5px;
    margin: 1px;
    font-size: 1em;
    background: #fff;
    font-weight: 500;
}

.pagination-btn-active {
    width: 30px;
    border: 2px solid #2f394d;
    padding: 5px;
    margin: 1px;
    font-size: 1em;
    background: #2f394d;
    color: #fff;
    font-weight: 500;
}

.pagination-btn:hover {
    background: #2f394d;
    color: #fff;
    font-weight: 500;
}
/* -------------- PAGINATION SECTION ------------- */


/* -------------- REGISTER SECTION ------------- */
.form-demo .card {
    min-width: 450px;
}

.form-demo .card form {
    margin-top: 2rem;
}

.form-demo .card .field {
    margin-bottom: 1.5rem;
}

.register-login-card {
    position: absolute;
    right: 0;
    transform: translateX(-20%);
}

.register-picture {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.content-register {
    padding: 10px 80px;
    width: 60%;
    display: flex;
    height: 80vh;
}

.content-register .hero {
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.content-register .title {
    font-size: 4em;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    letter-spacing: 4px;
    line-height: 60px;
}

.content-register .sub-title {
    font-size: 1.90em;    
    font-weight: 500;
    color: #fff;
    width: 80%;
    letter-spacing: 3px;
}

.content-register .description {
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 5px;
    width: 60%;
}
/* -------------- END OF REGISTER SECTION ------------- */


/* -------------- PROFILE SECTION ------------- */
.intro-text-profile {
    position: absolute;
    bottom: 0;
    animation-name: bounceInLeft;
    animation-duration: 1.5s;
}
/* -------------- END OF PROFILE SECTION ------------- */


/* -------------- PROFILE SECTION ------------- */
.error-page-image-container {
    max-width: 500px;
    width: 500px;
}

/* -------------- PROFILE SECTION ------------- */


/* -------------- MEDIA QUERIES SECTION ------------- */
@media screen and (max-width: 992px) {
    .form-demo .card {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 49px;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: visibility 0.5s;
        display: flex;
        flex-direction: column;
        background: rgba(0,0,0,0.1);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        visibility: hidden;
    }

    nav ul li a {
        margin: 0 80px;
        line-height: 3em;
    }

    .menu-icon, .logout-button {
        display: block;
        cursor: pointer;
        color: #fff;
        visibility: visible;
    }

    .register-login-card {
        position: relative;
        transform: translateX(0%);
    }

    .content-login {
        display: none;
    }

    .content-register {
        display: none;   
    }
}

@media only screen and (max-width: 576px){
    nav ul {
        top: 59px;
    }

    nav ul li a {
        margin: 0 25px;
    }

    .row{
        text-align: center;
    }
    .col-2, .col-3{
        flex-basis: 100%;
    }

    .footer .container .row {
      padding-left: 0;
    }

    .content {
        height: 90vh;
        flex-direction: column;
        justify-content: center;
        padding: 50px 30px;
    }

    .content .hero {
        gap: 20px;
        align-items: center;
    }

    .content .title {
        font-size: 3.125em;
        line-height: 60px;
        text-align: center;
    }

    .content .sub-title {
        font-size: 1.563em;
        text-align: center;
    }

    .content .description {
        width: 100%;
        text-align: center;
        font-size: 1em;
    }

    .intro-text {
        transform: translateY(5%);
    }

    .product-card-layout {
        width: 23rem;
        margin: 0 auto;
    }

    .product-view-card {
        max-width: auto !important;
        min-width: auto !important;
        margin: 0 5px;
    }

    .product-view-offcanvas {
        max-width: 300px;
        width: 300px;
    }

    .quantity-input, .edit-quantity-btn, .checkout-btn, .save-quantity-btn, .add-new-btn, .add-to-cart-btn {
        width: 100% !important;
    }

    .edit-quantity {
        display: inline;
    }

    .user-card {
        width: 23rem;
    }

    .navbar-css{
        padding: 15px 25px;
    }

    .navbar-authenticated {
        padding: 11px 25px;
    }

    .error-page-image-container {
        max-width: 400px;
        width: 350px;
    }
}
/* -------------- END OF MEDIA QUERIES SECTION ------------- */